<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SL Railway Department</title>
    <link rel="icon" th:href="@{/trademark.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/intlTelInput.css}">
    <link th:href="@{/css/our.css}" rel="stylesheet"/>
    <link th:href="@{/css/password.css}" rel="stylesheet"/>
    <link th:href="@{/semantic/semantic.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="ui grid vh100 p0 m0" th:style="'background: url('+@{/images/Slider/slide-2.jpg}+');'">
    <div class="sixteen wide  mobile nine wide tablet twelve wide computer column p0">
        <!--    <img class="ui fluid image image-login" th:src="@{/images/Slider/slide-2.jpg}">-->
    </div>
    <div class="sixteen wide  mobile seven wide tablet four wide computer column container middle aligned navigation vh100 overflowY-auto">
        <div class="ui middle center aligned">
            <h1 class="ui header middle center aligned">Sign Up</h1>
        </div>
        <div class="ui divider"></div>
        <form class="ui form" method="post" role="form" th:object="${user}">
            <div class="field required" th:classappend="${#fields.hasErrors('title')}? error">
                <label>Title</label>
                <select th:field="*{title}" name="title" required class="ui fluid dropdown">
                    <option value="">Title</option>
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Miss.">Miss.</option>
                    <option value="Rev.">Rev.</option>
                </select>
                <div th:if="${#fields.hasErrors('title')}" class="ui basic red pointing prompt label transition visible">
                    <p th:errors = "*{title}"></p>
                </div>
            </div>

            <div class="field required" th:classappend="${#fields.hasErrors('fname')}? error">
                <label>First Name</label>
                <input  th:field="*{fname}" name="fname" required type="text" placeholder="First Name">
                <div th:if="${#fields.hasErrors('fname')}" class="ui basic red pointing prompt label transition visible">
                    <p th:errors = "*{fname}"></p>
                </div>
            </div>

            <div class="field required" th:classappend="${#fields.hasErrors('lname')}? error">
                <label>Last Name</label>
                <input th:field="*{lname}" name="lname" required type="text"  placeholder="Last Name">
                <div th:if="${#fields.hasErrors('lname')}" class="ui basic red pointing prompt label transition visible">
                    <p th:errors = "*{lname}"></p>
                </div>
            </div>

            <div class="field">
                <div class="ui fluid buttons">
                    <div class="ui animated active button" tabindex="0">
                        <div class="visible content">NIC</div>
                        <div class="hidden content">
                            <i class="address card icon"></i>
                        </div>
                    </div>
                    <div class="ui animated button" tabindex="0">
                        <div class="visible content">Passport</div>
                        <div class="hidden content">
                            <i class="plane card icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field required" th:classappend="${#fields.hasErrors('nic')}? error">
                <label>NIC</label>
                <input th:field="*{nic}" name="nic" type="text" required  placeholder="NIC" pattern="([0-9]{9}[x|X|v|V]|[0-9]{12})">
                <div th:if="${#fields.hasErrors('nic')}" class="ui basic red pointing prompt label transition visible">
                    <p th:errors = "*{nic}"></p>
                </div>
            </div>

            <div class="field required" th:classappend="${#fields.hasErrors('passport')}? error">
                <label>Passport</label>
                <input th:field="*{passport}" name="passport" type="text" placeholder="Passport" pattern="[0-9NnPpLl]{5,}">
                <div th:if="${#fields.hasErrors('passport')}" class="ui basic red pointing prompt label transition visible">
                    <p th:errors = "*{passport}"></p>
                </div>
            </div>

            <div class="field required" th:classappend="${#fields.hasErrors('contact')}? error">
                <label>Your Contact Number</label>
                <input th:field="*{contact}" name="contact" required type="text" placeholder="Enter Contact Number" id="phone">
                <div th:if="${#fields.hasErrors('contact')}" class="ui basic red pointing prompt label transition visible">
                    <p th:errors = "*{contact}"></p>
                </div>
            </div>

            <div class="field required" th:classappend="${#fields.hasErrors('email')}? error">
                <label>Email Address</label>
                <input th:field="*{email}" name="email" required type="text"  placeholder="Email Address" pattern="^[\w\d._-]+@[\w\d.-]+\.[\w\d]{2,6}$">
                <small>Your username must be a valid email address. We'll never share your email with anyone else.</small>
                <div th:if="${#fields.hasErrors('email')}" class="ui basic red pointing prompt label transition visible">
                    <p th:errors = "*{email}"></p>
                </div>
            </div>
            <div class="field required" th:classappend="${#fields.hasErrors('password')}? error">
                <label>Password</label>
                <div class="ui icon input">
                    <input th:field="*{password}" required name="password" type="password" placeholder="Password" id="password" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,32}">
                    <i class="low vision link icon"></i>
                </div>
                <div class="ui bottom indicating attached progress">
                    <div class="bar"></div>
                </div>
                <div th:if="${#fields.hasErrors('password')}" class="ui basic red pointing prompt label transition visible">
                    <p th:errors = "*{password}"></p>
                </div>
            </div>

            <div class="mb30">
                <div class="header">Password Tip</div>
                <p>Password must contain at least:</p>
                <ul class="check-list">
                    <li id="li-characters-length">7 character(s)</li>
                    <li id="li-lowers-length">1 lower case character(s)</li>
                    <li id="li-uppers-length">1 upper case character(s)</li>
                    <li id="li-numbers-length">1 number(s)</li>
                    <li id="li-symbols-length">1 symbol(s), e.g. $, #, @</li>
                </ul>
            </div>

            <div class="field">
                <button class="ui fluid violet button" type="submit">Register</button>
            </div>
            <div class="ui divider"></div>
            <div class="field">
                <a href="/login" class="ui fluid black button">Login</a>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/semantic/semantic.min.js}"></script>
<script th:src="@{/js/intlTelInput.min.js}"></script>
<script th:src="@{/js/jquery.password_strength.js}"></script>

<script>
    $('.ui.dropdown').dropdown();
    $('input[name="passport"]').parent().hide();
    $('.ui.animated.button').click(()=>{
        if(!$('input[name="passport"]').parent().is(':visible')){
            $('input[name="nic"]').parent().hide();
            $('input[name="passport"]').parent().show();
            $('input[name="nic"]').removeAttr('required');
            $('input[name="passport"]').attr('required','true');
        }else{
            $('input[name="passport"]').parent().hide();
            $('input[name="nic"]').parent().show();
            $('input[name="passport"]').removeAttr('required');
            $('input[name="nic"]').attr('required','true');
        }
    });

    var input = document.querySelector("#phone");
    var iti=intlTelInput(input, {
        separateDialCode: true,
        initialCountry: "lk",
    });

    $('i.link.icon').click((e)=>{
        if($(e.target).closest('div.ui.icon.input').find('input').attr('type')==='password'){
            $(e.target).removeClass('low vision').addClass('eye');
            $(e.target).closest('div.ui.icon.input').find('input').attr('type', 'text');
        }else{
            $(e.target).removeClass('eye').addClass('low vision');
            $(e.target).closest('div.ui.icon.input').find('input').attr('type', 'password');
        }
    });

    $('form').attr('autocomplete', 'off');

    var passwordLevel = 0;
    $('#password').password_strength({
        minCharacters: 8,
        minLowerCaseCharacters: 1,
        minUpperCaseCharacters: 1,
        minNumbers: 1,
        minSymbols: 1,
        onCheck: function (l, c, s) {
            passwordLevel = l;
            $('.ui.bottom.attached.progress').progress({percent:20*l});
            for (var prop in c) {
                if (c[prop] >= s[prop]) {
                    $('#li-' + prop + '-length').addClass('checked');
                } else {
                    $('#li-' + prop + '-length').removeClass('checked');
                }
            }
        }
    });

    $('form').submit(function(event) {
        event.preventDefault();
        $('#phone').val(iti.getNumber());
        this.submit();
    });
</script>

</body>
</html>